.Logo {
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Logo img {
  height: 100%;
}

.Logo h3 {
  margin: 0 1rem;
}
