.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Success {
  color: #efcc7c;
}

.Danger {
  color: #e4711e;
}
