.BreadBottom {
  position: relative;
  height: 13%;
  width: 65%;
  background: linear-gradient(to bottom, #f7b34f 60%, #e8a040 78%);
  border-radius: 0 0 30px 30px;
  margin: 0 auto;
}

.BreadBottom:before {
  content: '';
  position: absolute;
  top: 0;
  left: -12%;
  width: 25%;
  height: 100%;
  background: linear-gradient(to bottom, #f7b34f 60%, #e8a040 78%);
  border-radius: 20% 0 0 50%;
}

.BreadBottom:after {
  content: '';
  position: absolute;
  top: 0;
  right: -12%;
  width: 25%;
  height: 100%;
  background: linear-gradient(to bottom, #f7b34f 60%, #e8a040 78%);
  border-radius: 0 20% 50% 0;
}

.BreadTop {
  height: 37%;
  width: 80%;
  background: #f7b34f;
  border-radius: 155px 155px 15px 15px;
  margin: 0 auto;
  position: relative;
}
.BreadTop span {
  display: block;
  position: absolute;
  width: 2%;
  height: 14%;
  background: #fbd695;
  border-radius: 40%;
}

.BreadTop span:nth-child(1) {
  top: 43%;
  left: 15%;
  transform: rotate(30deg);
}

.BreadTop span:nth-child(2) {
  top: 50%;
  left: 42%;
  transform: rotate(20deg);
}

.BreadTop span:nth-child(3) {
  top: 55%;
  right: 10%;
  transform: rotate(-20deg);
}

.BreadTop span:nth-child(4) {
  top: 12%;
  left: 35%;
  transform: rotate(-20deg);
}

.BreadTop span:nth-child(5) {
  top: 18%;
  right: 30%;
  transform: rotate(50deg);
}

.BreadTop span:nth-child(6) {
  top: 58%;
  right: 35%;
  transform: rotate(-80deg);
}

.BreadTop span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fbd695;
  border-radius: 40%;
}

.BreadTop span:nth-child(1):before {
  top: 50%;
  left: 500%;
  transform: rotate(-45deg);
}

.BreadTop span:nth-child(2):before {
  top: -200%;
  left: 300%;
  transform: rotate(-45deg);
}

.BreadTop span:nth-child(3):before {
  top: 0;
  left: -500%;
  width: 80%;
  height: 80%;
  transform: rotate(90deg);
}

.BreadTop span:nth-child(4):before {
  top: 150%;
  left: -350%;
  transform: rotate(90deg);
}

.BreadTop span:nth-child(5):before {
  top: 180%;
  left: -700%;
  transform: rotate(40deg);
}

.BreadTop span:nth-child(6):before {
  top: 180%;
  left: 500%;
  transform: rotate(40deg);
}

.Tomato {
  width: 65%;
  height: 4.5%;
  margin: 1% auto;
  background: linear-gradient(to top, #e04a27 58%, #b33011 73%);
  position: relative;
}

.Tomato:before {
  position: absolute;
  content: '';
  left: 10%;
  width: 10%;
  height: 100%;
  background: #fff;
  opacity: 0.2;
}

.Tomato:after {
  content: '';
  position: absolute;
  left: 50%;
  height: 100%;
  width: 15%;
  background: #fff;
  opacity: 0.2;
}

.Onion {
  width: 70%;
  height: 4.5%;
  margin: 1% auto;
  background: linear-gradient(to top, #ab76a2 58%, #8e5b85 95%);
  position: relative;
}

.Onion:before {
  position: absolute;
  content: '';
  left: 20%;
  width: 25%;
  height: 100%;
  background: #fff;
  opacity: 0.2;
}

.Onion:after {
  content: '';
  position: absolute;
  left: 70%;
  height: 100%;
  width: 15%;
  background: #fff;
  opacity: 0.2;
}

.Meat {
  width: 65%;
  height: 12%;
  background: linear-gradient(to bottom, #8c582b 42%, #7e4e29 62%);
  margin: 1% auto;
  position: relative;
}

.Meat:before {
  content: '';
  position: absolute;
  top: 0;
  left: -12%;
  width: 15%;
  height: 100%;
  background: linear-gradient(to bottom, #8c582b 42%, #7e4e29 62%);
  border-radius: 50% 0 0 50%;
}

.Meat:after {
  content: '';
  position: absolute;
  top: 0;
  right: -12%;
  width: 15%;
  height: 100%;
  background: linear-gradient(to bottom, #8c582b 42%, #7e4e29 62%);
  border-radius: 0 50% 50% 0;
}

.Cheese {
  width: 90%;
  height: 4.5%;
  margin: 1% auto;
  background: linear-gradient(to top, #fdde03 59%, #fbc000 78%);
  border-radius: 15%;
}

.Salad {
  width: 85%;
  height: 2%;
  margin: 1% auto;
  background: linear-gradient(to top, #9fb331 59%, #8fa22f 79%);
  border-radius: 10%;
  position: relative;
}

.Salad:before {
  content: '';
  position: absolute;
  left: 16%;
  background: linear-gradient(to bottom right, #9fb331 56%, #c8e243 78%);
  border-radius: 80%;
  bottom: -75%;
  width: 25%;
  height: 120%;
}

.Salad:after {
  content: '';
  position: absolute;
  bottom: -90%;
  right: 15%;
  width: 17%;
  height: 140%;
  background: linear-gradient(to bottom right, #9fb331 56%, #c8e243 78%);
  border-radius: 50%;
}
