.ContactData {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ContactData h3 {
  color: #888888;
}

.Input {
  width: 80%;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  outline: none;
  border: none;
  background-color: white;
  color: #888888;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 2rem;
  background: cornsilk;
  height: 45px;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}

.Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}

.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  color: #efcc7c;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

@media (min-width: 600px) {
  .ContactData,
  .InputElement,
  .Input,
  .Label,
  .InputElement:focus,
  .Invalid {
    width: 500px;
  }
}
